.header{
  background-color:transparent;
  width: 100%;
  height: 40px;
}


.myDiv{
  color: blue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  margin:0;
  padding: 0;
  background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(45,203,253,1) 100%);
}


.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150;
}

.btn{
  border: 0;
  font-family: Roboto;
  font-size: 25px;
  width: 150px;
  height: auto;
  cursor: pointer;
  background-color: transparent;
}
#btn1{
  width:250px;
  background-color: transparent;
  color: black;
}
#btn2{
  color:black;
  background-color: transparent;
}
.btn:hover,#btn1:hover,#btn2:hover{
  color:rgb(206, 116, 116);
}


.content{

  width: auto;
  display: flex;
  justify-content: center;
  height: 600px;
  
}



.screen{
  padding: 10px;
  background-color: rgb(108, 108, 230, 0.4);
  width: 50%;
  display: flex;
  border-radius: 10px;
  font-family: roboto;
  text-align: center;
  justify-content: first baseline;
  align-items: center;
  flex-direction: column;
  
}

img{
  width: 150px;
}

form{
  width: 200px;
}

input{
  height: 30px;
  width: 100%;
  border: none;
  background-color: white;
  border-radius: 10px;
  border-bottom: 2px solid rgb(0, 119, 255);
  cursor: pointer;
}

.bg{
  background:transparent;
  width:25%;
}

.A{
  height: 50px;

}
.B{
  height: 50px;
}

#quotes{
  font-style: italic;
}
